nav {
  display: flex;
  /* text-align: center; */
  background-color: #fff;
  align-items: center;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li {
  margin: 0 1rem;
  font-size: 1.2rem;
}

#title {
  font-size: 1.8rem;
  color: #0290ff;
}

.activelink {
  color: rgb(0, 0, 0);
}

.user {
  margin: 0 0 0 50%;
}