nav {
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li {
  margin: 0 1rem;
  font-size: 1.2rem;
}

#title {
  font-size: 1.8rem;
  color: #0290ff;
}

.activelink {
  color: rgb(0, 0, 0);
}

.user {
  margin: 0 0 0 50%;
  font-size: 1.5rem;
  color: #0290ff;
}

a {
  color: rgb(168, 168, 168);
  text-decoration: none;
}

.hollow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid rgba(232, 232, 232, 0.641);
  background-color: rgba(0, 0, 0, 0);
}
